#$ TOOL ispLEVER Classic 1.5.00.05.39.l1
#$ DATE Sat Jun 15 13:53:11 2013
#$ TITLE set_3_68k_14mhz.bls 
#$ MODULE protein_1_set_3_68k_14mhz
#$ PINS 13 Turbo_Switch VMA_CPU VMA_ VPA_Out E VPA_ E_14MHz DTACKin_ AS_ DTACKout_ Clock_7_MHz Clock_7_14_MHz CDAC
#$ NODES 5 N_34 N_21 N_7 N_16 N_17
.type fr
.i 13
.o 18
.ilb N_34.Q N_21.Q AS_ E_14MHz CDAC Clock_7_MHz VMA_CPU Turbo_Switch DTACKin_ VPA_ N_16.Q N_7.Q N_17
.ob N_7.AR N_7.C N_21.AP N_21.C VMA_ N_34.C N_16.AR N_16.C N_17 Clock_7_14_MHz E VPA_Out DTACKout_ DTACKout_.OE N_34.D N_21.D N_7.D N_16.D
.p 38
0------------ ~~~~~~~~~~~~~~1~~~
--1---------- 1~1~~~1~~~~~~~~1~~
---1--------- ~~~~~1~1~~~~~~~~~~
----01------- ~~~~~~~~~1~~~~~~~~
-----0------- ~1~1~~~~~~~~~~~~~~
---1---1----- ~~~~~~~~~~1~~~~~~~
-----1-1----- ~~~~~~~~~1~~~~~~~~
------11----- ~~~~1~~~~~~~~~~~~~
1------0----- ~~~~~~~~~~1~~~~~~~
----10-0----- ~~~~~~~~~1~~~~~~~~
-------11---- ~~~~~~~~1~~~1~~~~~
-00-----0---- ~~~~~~~~~~~~~~~~1~
-------1-1--- ~~~~~~~~~~~1~~~~~~
0--------0--- ~~~~~~~~~~~~~~~~~1
----------1-- ~~~~~~~~~~~~~~~~~1
-------0--0-- ~~~~1~~~~~~1~~~~~~
-------0---0- ~~~~~~~~1~~~1~~~~~
------------0 ~~~~~~~~~~~~~1~~~~
1------------ ~~~~~~~~~~~~~~0~~~
-1----------- ~~~~~~~~~~~~~~~~0~
--1---------- ~~~~~~~~~~~~~~~~0~
--0---------- 0~0~~~0~~~~~~~~0~~
---0--------- ~~~~~0~0~~~~~~~~~~
-----1------- ~0~0~~~~~~~~~~~~~~
----00------- ~~~~~~~~~0~~~~~~~~
---0---1----- ~~~~~~~~~~0~~~~~~~
-----0-1----- ~~~~~~~~~0~~~~~~~~
------01----- ~~~~0~~~~~~~~~~~~~
0------0----- ~~~~~~~~~~0~~~~~~~
----11-0----- ~~~~~~~~~0~~~~~~~~
--------1---- ~~~~~~~~~~~~~~~~0~
-------10---- ~~~~~~~~0~~~0~~~~~
-------1-0--- ~~~~~~~~~~~0~~~~~~
-------0--1-- ~~~~0~~~~~~0~~~~~~
1---------0-- ~~~~~~~~~~~~~~~~~0
---------10-- ~~~~~~~~~~~~~~~~~0
-------0---1- ~~~~~~~~0~~~0~~~~~
------------1 ~~~~~~~~~~~~~0~~~~
.end
